header {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f4f4f4;
  width: 100%;
  height: 80px;
  padding: 1.5rem 0 1rem;
  top: 0;
  z-index: 1;
}

header .header-logo {
  display: inline-block;
  padding-left: 10%;
  margin-top: 10px;
}

header .header-logo .logo-item {
  max-width: 160px;
}

header .header-login,
header .header-logout {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  float: right;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10%;
  height: 100%;
}

header .header-login.hidden,
header .header-logout.hidden {
  display: none;
}

header .header-login .item-login,
header .header-login .item-singup,
header .header-login .item-logout,
header .header-logout .item-login,
header .header-logout .item-singup,
header .header-logout .item-logout {
  position: relative;
  color: black;
  opacity: 0.7;
  font-size: 21px;
  font-weight: 500;
  text-decoration: none;
  margin-right: 20px;
}

header .header-login .item-login::after,
header .header-login .item-singup::after,
header .header-login .item-logout::after,
header .header-logout .item-login::after,
header .header-logout .item-singup::after,
header .header-logout .item-logout::after {
  position: absolute;
  display: inline-block;
  width: 0px;
  height: 0.15rem;
  bottom: -0.2rem;
  left: 0px;
  background-color: currentcolor;
  content: '';
  -webkit-transition: width 0.2s ease 0s;
  -o-transition: width 0.2s ease 0s;
  transition: width 0.2s ease 0s;
}

header .header-login .item-login:hover::after,
header .header-login .item-singup:hover::after,
header .header-login .item-logout:hover::after,
header .header-logout .item-login:hover::after,
header .header-logout .item-singup:hover::after,
header .header-logout .item-logout:hover::after {
  width: 100%;
}

.item-logout::before {
  background-image: url("/assets/img/logout_black_24dp.svg");
}

.item-login::before {
  background-image: url("/assets/img/login_black_24dp.svg");
}

.item-singup::before {
  background-image: url("/assets/img/person_add_black_24dp.svg");
}
