header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f4f4f4;
    width: 100%;
    height: 80px;
    padding: 1.5rem 0 1rem;
    top: 0;
    z-index: 1;

    .header-logo {
        display: inline-block;
        padding-left: 10%;
        margin-top: 10px;

        .logo-item {
            max-width: 160px;
        }
    }
    .header-login,
    .header-logout {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        float: right;
        align-items: center;
        padding-right: 10%;
        height: 100%;

        &.hidden {
            display: none;
        }

        .item-login,
        .item-singup,
        .item-logout {
            position: relative;
            color: black;
            opacity: 0.7;
            font-size: 21px;
            font-weight: 500;
            text-decoration: none;
            margin-right: 20px;

            &::after {
                position: absolute;
                display: inline-block;
                width: 0px;
                height: 0.15rem;
                bottom: -0.2rem;
                left: 0px;
                background-color: currentcolor;
                content: '';
                transition: width 0.2s ease 0s;
            }

            &:hover {
                &::after {
                    width: 100%;
                }
            }
        }
    }
}

.item-logout::before {
    background-image: url('/assets/img/logout_black_24dp.svg');
}

.item-login::before {
    background-image: url('/assets/img/login_black_24dp.svg');
}
.item-singup::before {
    background-image: url('/assets/img/person_add_black_24dp.svg');
}
