.content {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    margin-top: 7.5rem;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f4f4f4;
    min-height: 85vh;
    min-width: 100%;
    box-sizing: border-box;

    .wrapp-forms {
        position: fixed;
        background: #0000003d;
        height: 0;
        width: 0;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 1;

        &.active {
            height: 100%;
            width: 100%;
            opacity: 100%;
            transition: opacity 0.4s;
        }

        .btn-close {
            position: absolute;
            right: 0;
            background-image: url('/assets/img/close_white_48dp.svg');
            background-color: inherit;
            border-radius: 5em;
            background-size: auto;
            background-position: center;
            background-repeat: no-repeat;

            width: 5em;
            height: 5em;
            border: none;
            margin: 40px;
            opacity: 0.7;
            cursor: pointer;
            transition: 0.1s;

            &:hover {
                background-color: rgba(255, 255, 255, 0.226);
                opacity: 1;
            }
        }
    }
    .form-input {
        position: relative;
        font-size: 16px;
        padding: 8px 0;
        border-style: none;
        outline: none;
        border-bottom: 1px solid black;
        width: 70%;
        line-height: 25px;
    }
}

#gallery {
    max-width: 1160px;
    margin-bottom: 50px;
    animation: contentOpacity 1s ease-in-out;
    animation-fill-mode: both;

    h2 {
        color: black;
        font-size: 8rem;
        padding: 2rem 0 4rem;
        font-weight: inherit;
        font-family: 'Gilda Display', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
        text-align: left;
        overflow: hidden;
        display: block;
        animation: slideUpTitle 1s ease-in-out;
        animation-fill-mode: both;
    }

    .load-more {
        display: flex;
        padding: 1.1rem 2.5rem;
        font-size: 1.8rem;
        background-color: black;
        color: white;
        cursor: pointer;
        border: none;
        border-radius: 0;
        margin: 0 auto;
        background-image: none;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        transition: 0.2s;

        &:hover {
            outline: black solid 0.3rem;
            outline-offset: 0px;
            background-color: white;
            color: black;
        }
    }

    & .lists {
        display: flex;
        flex-direction: row;
        max-width: 1160px;
        flex-wrap: wrap;
        animation: slideUpTitle 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
        animation-fill-mode: both;

        .item {
            position: relative;
            list-style: none;
            width: 350px;
            overflow: hidden;
            height: min-content;
            margin: 0 35px 35px 0;
            transition: height 0.3s;
            animation: showItem 1s ease-in-out;

            &:hover {
                .delete-item-img {
                    opacity: 1;
                    transform: translateX(0);
                }

                .comment-text {
                    opacity: 1;
                }

                // img {
                //     transform: scale(1.1);
                //     border-radius: 5px;
                // }

                .btn-likes,
                .btn-comment {
                    opacity: 1;
                    transform: translateY(0);
                    transition: 0.6s;
                }
            }

            img {
                width: 100%;
                height: 350px;
                background-size: cover;
                transition: 0.3s;
            }

            .btn-likes,
            .btn-comment {
                position: absolute;
                bottom: 210px;
                opacity: 0;
                transform: translateX(-150%);
                border-radius: 50px;
                border: none;
                outline: none;
                cursor: pointer;
                background-color: whitesmoke;
                width: 50px;
                height: 50px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 30px;
                transition: 0.6s;

                &:active {
                    transform: scale(0.95);
                    transition: transform 0.2s;
                }
            }

            .btn-likes {
                left: 20px;
                background-image: url('/assets/img/free-icon-heart-black.svg');

                &.img-like {
                    width: 50px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-image: url('/assets/img/free-icon-heart-red.svg');
                }

                & .users-likes {
                    visibility: hidden;
                    position: absolute;
                    top: -70px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: max-content;
                    height: 50px;
                    background-color: white;
                    padding: 5px 10px;
                    border-radius: 10px;

                    img {
                        height: 40px;
                        width: 40px;
                        border-radius: 60px;
                        object-fit: cover;
                        transition: 0s;

                        &:not(:first-child) {
                            margin-left: -10px;
                        }
                    }

                    &:after {
                        content: attr(data-title) ' likes';
                        padding: 0 5px;
                        top: -30px;
                        width: max-content;
                        height: 25px;
                        border-radius: 20px;
                        font-size: 16px;
                    }
                }

                &:hover .users-likes {
                    visibility: visible;
                }
            }
            .btn-comment {
                left: 85px;
                background-image: url('/assets/img/media_comment_icon.svg');
            }

            .title-text {
                padding: 20px 15px 10px;

                .name-user {
                    font-size: 1.3rem;
                    text-transform: uppercase;
                    font-weight: 500;
                }

                .date-publication {
                    display: block;
                    font-family: 'IBM Plex Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
                        'Liberation Mono', 'Courier New', monospace;
                    color: #4a4a4a;
                    font-size: 0.8rem;
                }
            }

            .comment-text {
                position: relative;
                padding: 10px 15px;
                height: 100px;
                opacity: 0;
                transition: height 0.3s;
                transition: opacity 0.3s ease;

                span {
                    display: block;
                    overflow: hidden;
                    text-overflow: revert;
                    box-sizing: border-box;
                    height: 100%;
                    font-size: 1.1rem;
                    font-weight: 500;
                    word-break: break-word;
                    color: #ff9c7d;
                    line-height: 1.4;
                }
            }
        }
    }
}

.wrap-comment {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-color: #0000009f;
    z-index: 100;

    .btn-close {
        position: absolute;
        right: 0;
        top: 0;
        margin: 50px;
        width: 50px;
        height: 50px;
        background-color: #f5f5f51a;
        background-image: url('/assets/img/close_white_48dp.svg');
        background-position: center;
        border: none;
        border-radius: 50px;
        cursor: pointer;

        &:hover {
            background-color: #f5f5f563;
        }

        &:active {
            transform: scale(0.9);
        }
    }

    .popap-comment {
        display: flex;
        flex-direction: row;
        width: 900px;
        height: 700px;
        background-color: white;
        margin: 100px auto 0;

        img {
            width: 50%;
            object-fit: cover;
        }

        .content-comment {
            display: flex;
            flex-direction: column;
            min-width: auto;
            background-color: white;

            h2 {
                font-size: 2rem;
                text-align: center;
                padding: 20px;
            }

            .all-comments {
                width: 100%;
                height: 74%;
                margin: 0 auto;
                background-color: white;
                margin-bottom: 20px;
                overflow-y: scroll;

                div {
                    display: flex;
                    flex-direction: column;
                    box-sizing: border-box;
                    // border: 1px solid #bfbfbf94;
                    border-radius: 30px;
                    margin: 10px 10px 20px;
                    padding: 10px;
                    background-color: whitesmoke;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

                    .user-name {
                        font-weight: 600;
                        font-size: 20px;
                        padding: 0 15px;
                    }

                    .user-ava {
                        height: 50px;
                        width: 50px;
                        margin: 5px 15px;
                        object-fit: cover;
                        border-radius: 40px;
                        float: left;
                    }
                    .text-comment {
                        display: inline;
                        word-break: break-word;
                        padding: 0 20px;
                    }

                    .data-comment {
                        display: block;
                        font-size: 11px;
                        font-family: 'IBM Plex Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
                            'Liberation Mono', 'Courier New', monospace;
                        padding: 0 15px;
                        color: slategray;
                    }
                }
            }

            form {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                align-self: center;
                padding: 0 15px;

                .text {
                    height: 60px;
                    width: 70%;
                    outline: none;
                    border: 0;
                    background-color: white;
                    font-size: 20px;
                    border: 1px solid lightgrey;
                    padding: 0px 15px;
                    margin-right: 20px;
                    border-radius: 5px;
                }

                .sent-comment {
                    display: inline-block;
                    padding: 0.4rem 2.5rem;
                    font-size: 1.8rem;
                    background-color: black;
                    color: white;
                    cursor: pointer;
                    border: none;
                    border-radius: 0;
                    background-image: none;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                    transition: 0.2s;

                    &:hover {
                        outline: black solid 0.3rem;
                        outline-offset: 0px;
                        background-color: white;
                        color: black;
                    }
                }
            }
        }
    }
}
