.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 100%;
  margin-top: 7.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f4f4f4;
  min-height: 85vh;
  min-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main .wrapp-forms {
  position: fixed;
  background: #0000003d;
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
}

.main .wrapp-forms.active {
  height: 100%;
  width: 100%;
  opacity: 100%;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.main .wrapp-forms .btn-close {
  position: absolute;
  right: 0;
  background-image: url("/assets/img/close_white_48dp.svg");
  background-color: inherit;
  -webkit-border-radius: 5em;
          border-radius: 5em;
  -webkit-background-size: auto auto;
          background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  width: 5em;
  height: 5em;
  border: none;
  margin: 40px;
  opacity: 0.7;
  cursor: pointer;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.main .wrapp-forms .btn-close:hover {
  background-color: rgba(255, 255, 255, 0.226);
  opacity: 1;
}

.main .form-input {
  position: relative;
  font-size: 16px;
  padding: 8px 0;
  border-style: none;
  outline: none;
  border-bottom: 1px solid black;
  width: 70%;
  line-height: 25px;
}

#gallery {
  max-width: 1160px;
  margin-bottom: 50px;
  -webkit-animation: contentOpacity 1s ease-in-out;
          animation: contentOpacity 1s ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#gallery h2 {
  color: black;
  font-size: 8rem;
  padding: 2rem 0 4rem;
  font-weight: inherit;
  font-family: 'Gilda Display', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  text-align: left;
  overflow: hidden;
  display: block;
  -webkit-animation: slideUpTitle 1s ease-in-out;
          animation: slideUpTitle 1s ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#gallery .load-more {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1.1rem 2.5rem;
  font-size: 1.8rem;
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  margin: 0 auto;
  background-image: none;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

#gallery .load-more:hover {
  outline: black solid 0.3rem;
  outline-offset: 0px;
  background-color: white;
  color: black;
}

#gallery .lists {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1160px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-animation: slideUpTitle 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
          animation: slideUpTitle 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#gallery .lists .item {
  position: relative;
  list-style: none;
  width: 350px;
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0 35px 35px 0;
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  -webkit-animation: showItem 1s ease-in-out;
          animation: showItem 1s ease-in-out;
}

#gallery .lists .item:hover .delete-item-img {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

#gallery .lists .item:hover .comment-text {
  opacity: 1;
}

#gallery .lists .item:hover .btn-likes,
#gallery .lists .item:hover .btn-comment {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

#gallery .lists .item img {
  width: 100%;
  height: 350px;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#gallery .lists .item .btn-likes,
#gallery .lists .item .btn-comment {
  position: absolute;
  bottom: 210px;
  opacity: 0;
  -webkit-transform: translateX(-150%);
      -ms-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-border-radius: 50px;
          border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: whitesmoke;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: 30px 30px;
          background-size: 30px;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

#gallery .lists .item .btn-likes:active,
#gallery .lists .item .btn-comment:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

#gallery .lists .item .btn-likes {
  left: 20px;
  background-image: url("/assets/img/free-icon-heart-black.svg");
}

#gallery .lists .item .btn-likes.img-like {
  width: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/assets/img/free-icon-heart-red.svg");
}

#gallery .lists .item .btn-likes .users-likes {
  visibility: hidden;
  position: absolute;
  top: -70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 50px;
  background-color: white;
  padding: 5px 10px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

#gallery .lists .item .btn-likes .users-likes img {
  height: 40px;
  width: 40px;
  -webkit-border-radius: 60px;
          border-radius: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

#gallery .lists .item .btn-likes .users-likes img:not(:first-child) {
  margin-left: -10px;
}

#gallery .lists .item .btn-likes .users-likes:after {
  content: attr(data-title) " likes";
  padding: 0 5px;
  top: -30px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 25px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  font-size: 16px;
}

#gallery .lists .item .btn-likes:hover .users-likes {
  visibility: visible;
}

#gallery .lists .item .btn-comment {
  left: 85px;
  background-image: url("/assets/img/media_comment_icon.svg");
}

#gallery .lists .item .title-text {
  padding: 20px 15px 10px;
}

#gallery .lists .item .title-text .name-user {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 500;
}

#gallery .lists .item .title-text .date-publication {
  display: block;
  font-family: 'IBM Plex Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  color: #4a4a4a;
  font-size: 0.8rem;
}

#gallery .lists .item .comment-text {
  position: relative;
  padding: 10px 15px;
  height: 100px;
  opacity: 0;
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

#gallery .lists .item .comment-text span {
  display: block;
  overflow: hidden;
  -o-text-overflow: revert;
     text-overflow: revert;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  font-size: 1.1rem;
  font-weight: 500;
  word-break: break-word;
  color: #ff9c7d;
  line-height: 1.4;
}

.wrap-comment {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background-color: #0000009f;
  z-index: 100;
}

.wrap-comment .btn-close {
  position: absolute;
  right: 0;
  top: 0;
  margin: 50px;
  width: 50px;
  height: 50px;
  background-color: #f5f5f51a;
  background-image: url("/assets/img/close_white_48dp.svg");
  background-position: center;
  border: none;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  cursor: pointer;
}

.wrap-comment .btn-close:hover {
  background-color: #f5f5f563;
}

.wrap-comment .btn-close:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.wrap-comment .popap-comment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 900px;
  height: 700px;
  background-color: white;
  margin: 100px auto 0;
}

.wrap-comment .popap-comment img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrap-comment .popap-comment .content-comment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: auto;
  background-color: white;
}

.wrap-comment .popap-comment .content-comment h2 {
  font-size: 2rem;
  text-align: center;
  padding: 20px;
}

.wrap-comment .popap-comment .content-comment .all-comments {
  width: 100%;
  height: 74%;
  margin: 0 auto;
  background-color: white;
  margin-bottom: 20px;
  overflow-y: scroll;
}

.wrap-comment .popap-comment .content-comment .all-comments div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  margin: 10px 10px 20px;
  padding: 10px;
  background-color: whitesmoke;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.wrap-comment .popap-comment .content-comment .all-comments div .user-name {
  font-weight: 600;
  font-size: 20px;
  padding: 0 15px;
}

.wrap-comment .popap-comment .content-comment .all-comments div .user-ava {
  height: 50px;
  width: 50px;
  margin: 5px 15px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  float: left;
}

.wrap-comment .popap-comment .content-comment .all-comments div .text-comment {
  display: inline;
  word-break: break-word;
  padding: 0 20px;
}

.wrap-comment .popap-comment .content-comment .all-comments div .data-comment {
  display: block;
  font-size: 11px;
  font-family: 'IBM Plex Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  padding: 0 15px;
  color: slategray;
}

.wrap-comment .popap-comment .content-comment form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  padding: 0 15px;
}

.wrap-comment .popap-comment .content-comment form .text {
  height: 60px;
  width: 70%;
  outline: none;
  border: 0;
  background-color: white;
  font-size: 20px;
  border: 1px solid lightgrey;
  padding: 0px 15px;
  margin-right: 20px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.wrap-comment .popap-comment .content-comment form .sent-comment {
  display: inline-block;
  padding: 0.4rem 2.5rem;
  font-size: 1.8rem;
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-image: none;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.wrap-comment .popap-comment .content-comment form .sent-comment:hover {
  outline: black solid 0.3rem;
  outline-offset: 0px;
  background-color: white;
  color: black;
}
