#contact {
    animation: contentOpacity 0.7s 1 ease-in-out;
    max-width: 1400px;

    h2 {
        color: black;
        font-size: 8rem;
        padding: 2rem 0 4rem;
        font-weight: inherit;
        font-family: 'Gilda Display', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
        text-align: left;
        animation: slideUpTitle 0.7s ease-in-out;
    }

    :nth-child(2) {
        animation: slideUpTitle 0.7s ease-in-out 0.15s;
        animation-fill-mode: both;
    }
    :nth-child(3) {
        animation: slideUpTitle 0.7s ease-in-out 0.3s;
        animation-fill-mode: both;
    }

    div {
        display: grid;
        grid-template-columns: repeat(2, minmax(0px, 1fr));
        min-width: 1160px;

        h3 {
            padding-top: 7.2rem;
            padding-bottom: 7.2rem;
            font-size: 3.8rem;
            line-height: 1;
            text-transform: uppercase;
            text-align: start;
        }

        address {
            padding-top: 5rem;
            padding-bottom: 5rem;

            a,
            p {
                display: block;
                font-family: 'Poppins', sans-serif;
                color: rgba(0, 0, 0, 0.692);
                font-style: normal;
            }

            p {
                font-size: 1.2rem;
                line-height: 1.75;
                padding-bottom: 1rem;
            }
        }

        &::after {
            bottom: 0;
        }
        &::before {
            top: 0;
        }
        &::before,
        &::after {
            position: absolute;
            left: 0;
            right: 0;
            width: 90%;
            height: 1px;
            margin: 0 auto;
            pointer-events: none;
            background-color: #80808030;
            content: '';
        }
    }
}
