#contact {
  -webkit-animation: contentOpacity 0.7s 1 ease-in-out;
          animation: contentOpacity 0.7s 1 ease-in-out;
  max-width: 1400px;
}

#contact h2 {
  color: black;
  font-size: 8rem;
  padding: 2rem 0 4rem;
  font-weight: inherit;
  font-family: 'Gilda Display', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  text-align: left;
  -webkit-animation: slideUpTitle 0.7s ease-in-out;
          animation: slideUpTitle 0.7s ease-in-out;
}

#contact :nth-child(2) {
  -webkit-animation: slideUpTitle 0.7s ease-in-out 0.15s;
          animation: slideUpTitle 0.7s ease-in-out 0.15s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#contact :nth-child(3) {
  -webkit-animation: slideUpTitle 0.7s ease-in-out 0.3s;
          animation: slideUpTitle 0.7s ease-in-out 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#contact div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0px, 1fr))[2];
      grid-template-columns: repeat(2, minmax(0px, 1fr));
  min-width: 1160px;
}

#contact div h3 {
  padding-top: 7.2rem;
  padding-bottom: 7.2rem;
  font-size: 3.8rem;
  line-height: 1;
  text-transform: uppercase;
  text-align: start;
}

#contact div address {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#contact div address a,
#contact div address p {
  display: block;
  font-family: 'Poppins', sans-serif;
  color: rgba(0, 0, 0, 0.692);
  font-style: normal;
}

#contact div address p {
  font-size: 1.2rem;
  line-height: 1.75;
  padding-bottom: 1rem;
}

#contact div::after {
  bottom: 0;
}

#contact div::before {
  top: 0;
}

#contact div::before, #contact div::after {
  position: absolute;
  left: 0;
  right: 0;
  width: 90%;
  height: 1px;
  margin: 0 auto;
  pointer-events: none;
  background-color: #80808030;
  content: '';
}
