.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f4f4f4;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 6.5vh;
  padding-top: 12rem;
  padding-bottom: 6.5rem;
}

.footer span {
  font-size: 1.2rem;
  line-height: 1.75;
  font-family: 'Poppins', sans-serif;
  color: rgba(0, 0, 0, 0.692);
}
