.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 6.5vh;
    padding-top: 12rem;
    padding-bottom: 6.5rem;

    span {
        font-size: 1.2rem;
        line-height: 1.75;
        font-family: 'Poppins', sans-serif;
        color: rgba(0, 0, 0, 0.692);
    }
}
