#user-photos {
  -webkit-animation: contentOpacity 1s 1 ease-in-out;
          animation: contentOpacity 1s 1 ease-in-out;
  padding-top: 30px;
  max-width: 1160px;
}

#user-photos .control {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding-right: 40px;
  -webkit-animation: slideUpTitle 1s ease-in-out;
          animation: slideUpTitle 1s ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#user-photos .control h2 {
  color: black;
  font-size: 8rem;
  padding: 12px 0;
  font-weight: inherit;
  font-family: 'Gilda Display', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  text-align: left;
}

#user-photos .control .photo-file {
  padding: 1.1rem 2.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  height: 46px;
  width: 200px;
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-image: none;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

#user-photos .control .photo-file:hover {
  outline: black solid 0.3rem;
  outline-offset: 0px;
  background-color: white;
  color: black;
}

#user-photos .control .img-preview {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#user-photos .lists {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1160px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-animation: slideUpTitle 1s ease-in-out 0.15s;
          animation: slideUpTitle 1s ease-in-out 0.15s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#user-photos .lists .item {
  position: relative;
  list-style: none;
  width: 350px;
  height: 350px;
  overflow: hidden;
  margin: 0 35px 35px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#user-photos .lists .item:hover .delete-item-img {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

#user-photos .lists .item .delete-item-img {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  border: none;
  background-color: inherit;
  opacity: 0;
  background-color: #f5f5f5d9;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#user-photos .lists .item .delete-item-img .fa-trash-o {
  font-size: 24px;
  color: #202020;
  pointer-events: none;
}

#user-photos .lists .item .delete-item-img:hover {
  background-color: rgba(255, 255, 255, 0.918);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#user-photos .lists .item .delete-item-img:active {
  background-color: white;
  -webkit-border-radius: 25;
          border-radius: 25;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

#user-photos .lists .item img {
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
          background-size: cover;
}

.wrapp-dialog {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.32);
  width: 100%;
  height: 110%;
  z-index: 113;
  top: -80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: contentOpacity 0.3s 1 ease-in-out;
          animation: contentOpacity 0.3s 1 ease-in-out;
}

.wrapp-dialog .modal_dialog {
  width: 300px;
  background-color: white;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  top: 50%;
  left: 50%;
  -webkit-box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  -webkit-animation: contentOpacity 0.3s 1 ease-in-out;
          animation: contentOpacity 0.3s 1 ease-in-out;
}

.wrapp-dialog .modal_dialog .title-modal,
.wrapp-dialog .modal_dialog .button-modal {
  font-size: 1.25rem;
  font-weight: 500;
  padding: 20px 24px;
}

.wrapp-dialog .modal_dialog .button-modal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.wrapp-dialog .modal_dialog .button-modal button {
  border: none;
  background-color: inherit;
  font-size: 16px;
  width: 100%;
  height: 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.wrapp-dialog .modal_dialog .button-modal button:hover {
  background-color: rgba(128, 128, 128, 0.247);
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.wrapp-dialog .modal_dialog_prev {
  width: 600px;
  height: 600px;
  background-color: white;
  padding: 20px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  -webkit-animation: contentOpacity 0.3s 1 ease-in-out;
          animation: contentOpacity 0.3s 1 ease-in-out;
}

.wrapp-dialog .modal_dialog_prev .close_modal_photo {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  float: right;
  right: -70px;
  top: -70px;
  background-color: rgba(255, 255, 255, 0.226);
  -webkit-border-radius: 50px;
          border-radius: 50px;
  -webkit-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

.wrapp-dialog .modal_dialog_prev .close_modal_photo span {
  pointer-events: none;
}

.wrapp-dialog .modal_dialog_prev .close_modal_photo:hover {
  background-color: white;
}

.wrapp-dialog .modal_dialog_prev .close_modal_photo:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.wrapp-dialog .modal_dialog_prev .img-preview {
  position: relative;
  top: -50px;
  display: block;
  width: 100%;
  max-height: 350px;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.wrapp-dialog .modal_dialog_prev textarea {
  position: relative;
  top: -50px;
  resize: none;
  width: 100%;
  height: 150px;
  outline: none;
  padding: 20px;
  font-size: 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 20px 0;
  border-color: #80808054;
}

.wrapp-dialog .modal_dialog_prev .send-photo {
  position: relative;
  top: -50px;
  padding: 1.1rem 2.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  height: 46px;
  width: 200px;
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  margin: 0 auto;
  background-image: none;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.wrapp-dialog .modal_dialog_prev .send-photo:hover {
  outline: black solid 0.3rem;
  outline-offset: 0px;
  background-color: white;
  color: black;
}
