#user-photos {
    animation: contentOpacity 1s 1 ease-in-out;
    padding-top: 30px;
    max-width: 1160px;

    .control {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        padding-right: 40px;
        animation: slideUpTitle 1s ease-in-out;
        animation-fill-mode: both;

        h2 {
            color: black;
            font-size: 8rem;
            padding: 12px 0;
            font-weight: inherit;
            font-family: 'Gilda Display', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
            text-align: left;
        }

        .photo-file {
            padding: 1.1rem 2.5rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 1.8rem;
            height: 46px;
            width: 200px;
            background-color: black;
            color: white;
            cursor: pointer;
            border: none;
            border-radius: 0;
            background-image: none;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            transition: 0.2s;

            &:hover {
                outline: black solid 0.3rem;
                outline-offset: 0px;
                background-color: white;
                color: black;
            }
        }

        .img-preview {
            width: max-content;
        }
    }

    .lists {
        display: flex;
        flex-direction: row;
        max-width: 1160px;
        flex-wrap: wrap;
        animation: slideUpTitle 1s ease-in-out 0.15s;
        animation-fill-mode: both;

        .item {
            position: relative;
            list-style: none;
            width: 350px;
            height: 350px;
            overflow: hidden;
            margin: 0 35px 35px 0;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

            &:hover {
                .delete-item-img {
                    opacity: 1;
                    transform: translateX(0);
                }
            }

            .delete-item-img {
                position: absolute;
                right: 0px;
                top: 0px;
                width: 50px;
                height: 50px;
                border: none;
                background-color: inherit;
                opacity: 0;
                background-color: #f5f5f5d9;
                transform: translateX(100%);
                transition: all 0.3s ease-in-out;
                cursor: pointer;

                .fa-trash-o {
                    font-size: 24px;
                    color: #202020;
                    pointer-events: none;
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.918);
                    transition: all 0.2s ease-in-out;
                }

                &:active {
                    background-color: rgb(255, 255, 255);
                    border-radius: 25;
                    transform: scale(0.9);
                    transition: all 0.2s;
                }
            }

            img {
                width: 100%;
                height: 100%;
                background-size: cover;
            }
        }
    }
}

.wrapp-dialog {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.32);
    width: 100%;
    height: 110%;
    z-index: 113;
    top: -80px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: contentOpacity 0.3s 1 ease-in-out;

    .modal_dialog {
        width: 300px;
        background-color: white;
        border-radius: 4px;
        top: 50%;
        left: 50%;
        box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14),
            0px 9px 46px 8px rgba(0, 0, 0, 0.12);
        animation: contentOpacity 0.3s 1 ease-in-out;

        & .title-modal,
        & .button-modal {
            font-size: 1.25rem;
            font-weight: 500;
            padding: 20px 24px;
        }

        & .button-modal {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            & button {
                border: none;
                background-color: inherit;
                font-size: 16px;
                width: 100%;
                height: 30px;
                cursor: pointer;
                transition: all 0.3s;

                &:hover {
                    background-color: rgba(128, 128, 128, 0.247);
                    border-radius: 4px;
                }
            }
        }
    }

    .modal_dialog_prev {
        width: 600px;
        height: 600px;
        background-color: white;
        padding: 20px;
        border-radius: 4px;
        box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14),
            0px 9px 46px 8px rgba(0, 0, 0, 0.12);
        animation: contentOpacity 0.3s 1 ease-in-out;

        .close_modal_photo {
            position: relative;
            width: 50px;
            height: 50px;
            background-color: inherit;
            border: none;
            cursor: pointer;
            float: right;
            right: -70px;
            top: -70px;
            background-color: rgba(255, 255, 255, 0.226);
            border-radius: 50px;
            transition: background 0.2s ease-in-out;

            span {
                pointer-events: none;
            }

            &:hover {
                background-color: white;
            }

            &:active {
                transform: scale(0.9);
                transition: all 0.2s ease-in-out;
            }
        }

        .img-preview {
            position: relative;
            top: -50px;
            display: block;
            width: 100%;
            max-height: 350px;
            margin: 0 auto;
            object-fit: contain;
        }

        textarea {
            position: relative;
            top: -50px;
            resize: none;
            width: 100%;
            height: 150px;
            outline: none;
            padding: 20px;
            font-size: 22px;
            box-sizing: border-box;
            margin: 20px 0;
            border-color: #80808054;
        }

        .send-photo {
            position: relative;
            top: -50px;
            padding: 1.1rem 2.5rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 1.8rem;
            height: 46px;
            width: 200px;
            background-color: black;
            color: white;
            cursor: pointer;
            border: none;
            border-radius: 0;
            margin: 0 auto;
            background-image: none;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            transition: 0.2s;

            &:hover {
                outline: black solid 0.3rem;
                outline-offset: 0px;
                background-color: white;
                color: black;
            }
        }
    }
}
