#form-edit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  top: 10%;
  left: 0%;
  min-height: 40em;
  min-width: 50em;
  z-index: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 25em;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-color: white;
  margin: 0 auto;
  padding: 15px 0;
  opacity: 100%;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  -webkit-animation: contentOpacity 0.4s;
          animation: contentOpacity 0.4s;
}

#form-edit .wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#form-edit .wrap div {
  width: 50%;
}

#form-edit .form-item {
  min-width: 100%;
  min-height: 60px;
  margin-bottom: 10px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#form-edit .form-item .form-group--error-container {
  margin-bottom: 0;
}

#form-edit .form-item #edit-password,
#form-edit .form-item #edit-name,
#form-edit .form-item #edit-email {
  width: 100%;
}

#form-edit .form-item input {
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

#form-edit .form-item input[name='name']:focus ~ label[for='edit-name'],
#form-edit .form-item input[name='name']:valid ~ label[for='edit-name'],
#form-edit .form-item input[name='login']:focus ~ label[for='edit-email'],
#form-edit .form-item input[name='login']:valid ~ label[for='edit-email'],
#form-edit .form-item input[name='password']:focus ~ label[for='edit-password'],
#form-edit .form-item input[name='password']:valid ~ label[for='edit-password'] {
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px);
  font-size: 12px;
  color: #166fe5;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#form-edit .form-item label[for='edit-name'],
#form-edit .form-item label[for='edit-email'],
#form-edit .form-item label[for='edit-password'] {
  pointer-events: none;
  -webkit-transform: translateY(-25px);
      -ms-transform: translateY(-25px);
          transform: translateY(-25px);
  z-index: 2;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 16px;
  line-height: 16px;
}

#form-edit .form-item .btn-save {
  margin-bottom: 10px;
  width: 100%;
  margin: 0 0 10px;
}

#form-edit .form-item .btn-cancel {
  font-size: 14px;
  color: #4e51f7;
  margin: 0 auto;
  text-decoration: none;
}

#form-edit .form-item .btn-cancel:hover {
  color: #4e51f7;
  margin: 0 auto;
  text-decoration: underline;
}

#form-edit .form-input:focus,
#form-edit .form-item:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  -webkit-box-shadow: 0px 3px 0px 0rem rgba(13, 110, 253, 0.25);
          box-shadow: 0px 3px 0px 0rem rgba(13, 110, 253, 0.25);
}

#form-edit .btn-save {
  font-size: 20px;
  height: 46px;
  width: 70%;
  background-color: #1877f2;
  border: none;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  color: white;
  padding: 0 16px;
  cursor: pointer;
  margin-bottom: 15px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-top: 20px;
  -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);
          box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);
}

#form-edit .btn-save:hover {
  background-color: #166fe5;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.form-item > .options {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.checkbox-input.has-error.error--checked ~ span {
  color: #ff5252;
}

.myCountry {
  font-size: 16px;
}

.myCountry.has-error {
  border: 1px solid #ff5252;
}

.bdate.has-error.error--requiered {
  color: #ff5252;
  border: 1px solid #ff5252;
}

input[type='file'] {
  display: none;
}

input[type='date'] {
  outline: none;
  line-height: 1.5em;
  font-size: 16px;
}

.photo-file {
  border: 1px solid #ccc;
  margin: 0 auto;
  display: inline-block;
  background-color: #ccc;
  cursor: pointer;
  width: 85px;
  height: 85px;
  -webkit-border-radius: 85px;
          border-radius: 85px;
  background-image: url("/assets/img/person_add_black_24dp.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.photo-file:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.form-input.has-error {
  border-bottom: 1px solid #ff5252;
}

.form-input.has-error {
  border-bottom: 1px solid #ff5252;
}

.form-group--error-container {
  position: relative;
  color: #ff5252;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  overflow: hidden;
  width: 70%;
  margin-top: -20px;
  margin-bottom: 25px;
}

.error-message {
  position: absolute;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.form-input.has-error + .form-group--error-container .error-message {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.error--requiered + .form-group--error-container .error-message--requiered,
.error--min-length + .form-group--error-container .error-message--min-length,
.error--max-length + .form-group--error-container .error-message--max-length,
.error--email + .form-group--error-container .error-message--email,
.error--point + .form-group--error-container .error-message--point,
.error--check-password + .form-group--error-container .error-message--check-password,
.error--mail-match + .form-group--error-container .error-message--mail-match {
  opacity: 1;
}
