#form-user-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  right: 0;
  z-index: 1;
  opacity: 0%;
  max-width: 25em;
  min-height: 25em;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-color: white;
  margin: 0 auto;
  padding: 20px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(0%);
      -ms-transform: scale(0%);
          transform: scale(0%);
}

#form-user-info.form-active {
  z-index: 2;
  top: 20%;
  left: 0%;
  right: 0%;
  opacity: 100%;
  -webkit-transform: scale(100%);
      -ms-transform: scale(100%);
          transform: scale(100%);
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

#form-user-info :first-child {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
}

.user-face {
  pointer-events: none;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: inherit;
}

div .user-photo-info {
  width: 100px;
  height: auto;
  overflow: hidden;
}

.open-user-info {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: whitesmoke;
  border: none;
  cursor: pointer;
}
