#form-edit {
    display: flex;
    position: absolute;
    right: 0;
    top: 10%;
    left: 0%;
    min-height: 40em;
    min-width: 50em;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 25em;
    border-radius: 8px;
    background-color: white;
    margin: 0 auto;
    padding: 15px 0;
    opacity: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    animation: contentOpacity 0.4s;

    .wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;

        div {
            width: 50%;
        }
    }

    .form-item {
        min-width: 100%;
        min-height: 60px;
        margin-bottom: 10px;
        padding: 0 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .form-group--error-container {
            margin-bottom: 0;
        }

        #edit-password,
        #edit-name,
        #edit-email {
            width: 100%;
        }

        input {
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

            &[name='name']:focus ~ label[for='edit-name'],
            &[name='name']:valid ~ label[for='edit-name'],
            &[name='login']:focus ~ label[for='edit-email'],
            &[name='login']:valid ~ label[for='edit-email'],
            &[name='password']:focus ~ label[for='edit-password'],
            &[name='password']:valid ~ label[for='edit-password'] {
                transform: translateY(-50px);
                font-size: 12px;
                color: #166fe5;
                transition: 0.3s;
            }
        }

        label[for='edit-name'],
        label[for='edit-email'],
        label[for='edit-password'] {
            pointer-events: none;
            transform: translateY(-25px);
            z-index: 2;
            transition: 0.3s;
            font-size: 16px;
            line-height: 16px;
        }

        .btn-save {
            margin-bottom: 10px;
            width: 100%;
            margin: 0 0 10px;
        }

        .btn-cancel {
            font-size: 14px;
            color: rgb(78, 81, 247);
            margin: 0 auto;
            text-decoration: none;

            &:hover {
                color: rgb(78, 81, 247);
                margin: 0 auto;
                text-decoration: underline;
            }
        }
    }

    .form-input:focus,
    .form-item:focus {
        color: #212529;
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0px 3px 0px 0rem rgba(13, 110, 253, 0.25);
    }

    .btn-save {
        font-size: 20px;
        height: 46px;
        width: 70%;
        background-color: #1877f2;
        border: none;
        border-radius: 8px;
        color: white;
        padding: 0 16px;
        cursor: pointer;
        margin-bottom: 15px;
        transition: 0.3s;
        margin-top: 20px;
        box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);

        &:hover {
            background-color: #166fe5;
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            transition: 0.3s;
        }
    }
}

.form-item > .options {
    display: inline-flex;
}
.checkbox-input.has-error.error--checked ~ span {
    color: #ff5252;
}
.myCountry {
    font-size: 16px;

    &.has-error {
        border: 1px solid #ff5252;
    }
}

.bdate.has-error.error--requiered {
    color: #ff5252;
    border: 1px solid #ff5252;
}

input[type='file'] {
    display: none;
}
input[type='date'] {
    outline: none;
    line-height: 1.5em;
    font-size: 16px;
}

.photo-file {
    border: 1px solid #ccc;
    margin: 0 auto;
    display: inline-block;
    background-color: #ccc;
    cursor: pointer;
    width: 85px;
    height: 85px;
    border-radius: 85px;
    background-image: url('/assets/img/person_add_black_24dp.svg');
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: 0.2s;

    &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
}

.form-input.has-error {
    border-bottom: 1px solid #ff5252;
}

.form-input.has-error {
    border-bottom: 1px solid #ff5252;
}
.form-group--error-container {
    position: relative;
    color: #ff5252;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
    width: 70%;
    margin-top: -20px;
    margin-bottom: 25px;
}

.error-message {
    position: absolute;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.form-input.has-error + .form-group--error-container .error-message {
    transform: translateX(0);
}

.error--requiered + .form-group--error-container .error-message--requiered,
.error--min-length + .form-group--error-container .error-message--min-length,
.error--max-length + .form-group--error-container .error-message--max-length,
.error--email + .form-group--error-container .error-message--email,
.error--point + .form-group--error-container .error-message--point,
.error--check-password + .form-group--error-container .error-message--check-password,
.error--mail-match + .form-group--error-container .error-message--mail-match {
    opacity: 1;
}
