#form-login {
    display: flex;
    position: absolute;
    right: 0;
    z-index: 1;
    opacity: 0%;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 25em;
    min-height: 25em;
    border-radius: 8px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    transform: scale(0%);

    &.form-active {
        z-index: 2;
        top: 20%;
        left: 0%;
        right: 0%;
        opacity: 100%;
        transform: scale(100%);
        transition: all 0.6s;
    }

    h2 {
        margin-bottom: 10px;
    }

    label {
        width: 70%;
        pointer-events: none;
        transform: translateY(-50px);
        z-index: 2;
        transition: 0.3s;
        font-size: 16px;
        line-height: 16px;
    }

    .form-input:focus + label,
    .form-input:valid + label {
        transform: translateY(-80px);
        font-size: 14px;
        color: #166fe5;
        transition: 0.3s;
    }

    .form-input {
        margin-bottom: 20px;

        &.has-error {
            border-bottom: 1px solid #ff5252;
        }

        &:focus {
            color: #212529;
            background-color: #fff;
            border-color: #86b7fe;
            border-bottom-color: #86b7fe;
            outline: 0;
            box-shadow: 0px 3px 0px 0rem rgba(13, 110, 253, 0.25);
        }
    }

    .login-err {
        visibility: hidden;
        color: #ff5252;
        font-size: 14px;
        margin-bottom: 20px;

        &.active {
            visibility: visible;
            overflow: hidden;
            color: #ff5252;
            font-size: 14px;
            transition: 0.5s;
        }
    }
}

.form-btn {
    font-size: 20px;
    height: 46px;
    width: 70%;
    background-color: #1877f2;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 0 16px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: 0.3s;
    margin-top: 20px;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);

    &:hover {
        background-color: #166fe5;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        transition: 0.3s;
    }
}

.form-reg-page {
    text-decoration: none;
    color: #00376b;
}
