#form-regist {
    display: flex;
    position: absolute;
    right: 0;
    z-index: 1;
    opacity: 0%;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 25em;
    min-height: 30em;
    border-radius: 8px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    transform: scale(0%);

    &.form-active {
        z-index: 2;
        top: 20%;
        left: 0%;
        right: 0%;
        opacity: 100%;
        transform: scale(100%);
        transition: all 0.6s;
    }

    h2 {
        margin-bottom: 20px;
    }

    .btn-reg {
        font-size: 20px;
        height: 46px;
        width: 70%;
        background-color: #1877f2;
        border: none;
        border-radius: 8px;
        color: white;
        padding: 0 16px;
        cursor: pointer;
        margin-bottom: 15px;
        transition: 0.3s;
        margin-top: 20px;
        box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);

        &:hover {
            background-color: #166fe5;
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            transition: 0.3s;
        }
    }

    .regist-back {
        text-decoration: none;
        color: #00376b;
    }

    .form-input.has-error {
        border-bottom: 1px solid #ff5252;
    }

    .dublicate-user-err {
        display: none;

        &.active {
            display: block;
            color: #ff5252;
            font-size: 14px;
        }
    }
}

.form-input.has-error {
    border-bottom: 1px solid #ff5252;
}
.form-group--error-container {
    position: relative;
    color: #ff5252;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
    width: 70%;
    margin-top: -20px;
    margin-bottom: 25px;
}

.error-message {
    position: absolute;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.form-input.has-error + .form-group--error-container .error-message {
    transform: translateX(0);
}

.error--requiered + .form-group--error-container .error-message--requiered,
.error--min-length + .form-group--error-container .error-message--min-length,
.error--max-length + .form-group--error-container .error-message--max-length,
.error--email + .form-group--error-container .error-message--email,
.error--point + .form-group--error-container .error-message--point,
.error--check-password + .form-group--error-container .error-message--check-password,
.error--mail-match + .form-group--error-container .error-message--mail-match {
    opacity: 1;
}
