#form-login {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  z-index: 1;
  opacity: 0%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 25em;
  min-height: 25em;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-color: white;
  margin: 0 auto;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(0%);
      -ms-transform: scale(0%);
          transform: scale(0%);
}

#form-login.form-active {
  z-index: 2;
  top: 20%;
  left: 0%;
  right: 0%;
  opacity: 100%;
  -webkit-transform: scale(100%);
      -ms-transform: scale(100%);
          transform: scale(100%);
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

#form-login h2 {
  margin-bottom: 10px;
}

#form-login label {
  width: 70%;
  pointer-events: none;
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px);
  z-index: 2;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 16px;
  line-height: 16px;
}

#form-login .form-input:focus + label,
#form-login .form-input:valid + label {
  -webkit-transform: translateY(-80px);
      -ms-transform: translateY(-80px);
          transform: translateY(-80px);
  font-size: 14px;
  color: #166fe5;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#form-login .form-input {
  margin-bottom: 20px;
}

#form-login .form-input.has-error {
  border-bottom: 1px solid #ff5252;
}

#form-login .form-input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  border-bottom-color: #86b7fe;
  outline: 0;
  -webkit-box-shadow: 0px 3px 0px 0rem rgba(13, 110, 253, 0.25);
          box-shadow: 0px 3px 0px 0rem rgba(13, 110, 253, 0.25);
}

#form-login .login-err {
  visibility: hidden;
  color: #ff5252;
  font-size: 14px;
  margin-bottom: 20px;
}

#form-login .login-err.active {
  visibility: visible;
  overflow: hidden;
  color: #ff5252;
  font-size: 14px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.form-btn {
  font-size: 20px;
  height: 46px;
  width: 70%;
  background-color: #1877f2;
  border: none;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  color: white;
  padding: 0 16px;
  cursor: pointer;
  margin-bottom: 15px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-top: 20px;
  -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);
          box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);
}

.form-btn:hover {
  background-color: #166fe5;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.form-reg-page {
  text-decoration: none;
  color: #00376b;
}
