#form-regist {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  z-index: 1;
  opacity: 0%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 25em;
  min-height: 30em;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-color: white;
  margin: 0 auto;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(0%);
      -ms-transform: scale(0%);
          transform: scale(0%);
}

#form-regist.form-active {
  z-index: 2;
  top: 20%;
  left: 0%;
  right: 0%;
  opacity: 100%;
  -webkit-transform: scale(100%);
      -ms-transform: scale(100%);
          transform: scale(100%);
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

#form-regist h2 {
  margin-bottom: 20px;
}

#form-regist .btn-reg {
  font-size: 20px;
  height: 46px;
  width: 70%;
  background-color: #1877f2;
  border: none;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  color: white;
  padding: 0 16px;
  cursor: pointer;
  margin-bottom: 15px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-top: 20px;
  -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);
          box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);
}

#form-regist .btn-reg:hover {
  background-color: #166fe5;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#form-regist .regist-back {
  text-decoration: none;
  color: #00376b;
}

#form-regist .form-input.has-error {
  border-bottom: 1px solid #ff5252;
}

#form-regist .dublicate-user-err {
  display: none;
}

#form-regist .dublicate-user-err.active {
  display: block;
  color: #ff5252;
  font-size: 14px;
}

.form-input.has-error {
  border-bottom: 1px solid #ff5252;
}

.form-group--error-container {
  position: relative;
  color: #ff5252;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  overflow: hidden;
  width: 70%;
  margin-top: -20px;
  margin-bottom: 25px;
}

.error-message {
  position: absolute;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.form-input.has-error + .form-group--error-container .error-message {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.error--requiered + .form-group--error-container .error-message--requiered,
.error--min-length + .form-group--error-container .error-message--min-length,
.error--max-length + .form-group--error-container .error-message--max-length,
.error--email + .form-group--error-container .error-message--email,
.error--point + .form-group--error-container .error-message--point,
.error--check-password + .form-group--error-container .error-message--check-password,
.error--mail-match + .form-group--error-container .error-message--mail-match {
  opacity: 1;
}
