#form-user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    position: absolute;
    right: 0;
    z-index: 1;
    opacity: 0%;
    max-width: 25em;
    min-height: 25em;
    border-radius: 8px;
    background-color: white;
    margin: 0 auto;
    padding: 20px 40px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    transform: scale(0%);

    &.form-active {
        z-index: 2;
        top: 20%;
        left: 0%;
        right: 0%;
        opacity: 100%;
        transform: scale(100%);
        transition: all 0.6s;
    }

    :first-child {
        align-self: center;
    }
}

.user-face {
    pointer-events: none;
    object-fit: cover;
    width: 100%;
    height: inherit;
}

div .user-photo-info {
    width: 100px;
    height: auto;
    overflow: hidden;
}

.open-user-info {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: whitesmoke;
    border: none;
    cursor: pointer;
}
