.nav {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    min-height: 100%;
    box-sizing: border-box;

    &.active {
        display: flex;
    }

    .menu-lists {
        display: grid;
        grid-auto-columns: minmax(0px, 1fr);
        grid-auto-flow: column;
        column-gap: 3rem;
        list-style: none;
        font-size: 22px;
        font-weight: 400;

        li {
            padding: 0 10px;
            text-decoration: none;
            margin-right: 30px;
            width: max-content;
            border-bottom: 2px solid rgba(255, 166, 0, 0);
            transition: border 0.3s;

            a {
                position: relative;
                display: inline-flex;
                align-items: center;
                text-decoration: none;
                font-family: 'Poppins', sans-serif;
                font-size: 1.2rem;

                &::after {
                    position: absolute;
                    display: inline-block;
                    width: 0px;
                    height: 0.15rem;
                    bottom: -0.2rem;
                    left: 0px;
                    background-color: currentcolor;
                    content: '';
                    transition: width 0.2s ease 0s;
                }
            }

            &:hover {
                & a::after {
                    width: 100%;
                }
            }
        }
    }
}
