.nav {
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 600px;
  min-height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav .menu-lists {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: minmax(0px, 1fr);
  grid-auto-flow: column;
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
  list-style: none;
  font-size: 22px;
  font-weight: 400;
}

.nav .menu-lists li {
  padding: 0 10px;
  text-decoration: none;
  margin-right: 30px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-bottom: 2px solid rgba(255, 166, 0, 0);
  -webkit-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
}

.nav .menu-lists li a {
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

.nav .menu-lists li a::after {
  position: absolute;
  display: inline-block;
  width: 0px;
  height: 0.15rem;
  bottom: -0.2rem;
  left: 0px;
  background-color: currentcolor;
  content: '';
  -webkit-transition: width 0.2s ease 0s;
  -o-transition: width 0.2s ease 0s;
  transition: width 0.2s ease 0s;
}

.nav .menu-lists li:hover a::after {
  width: 100%;
}
