@import url('./header/header.css');
@import url('./nav/nav.css');
@import url('./gallery/index.css');
@import url('./footer/footer.css');
@import url('./forms/form-login.css');
@import url('./forms/form-edit.css');
@import url('./forms/form-registration.css');
@import url('./forms/form-user-info.css');

* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
