#about {
  -webkit-animation: contentOpacity 1s 1 ease-in-out;
          animation: contentOpacity 1s 1 ease-in-out;
  max-width: 1200px;
}

#about h2 {
  color: black;
  font-size: 8rem;
  padding: 2rem 0 4rem;
  font-weight: inherit;
  font-family: 'Gilda Display', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  text-align: left;
  -webkit-animation: slideUpTitle 0.7s ease-out;
          animation: slideUpTitle 0.7s ease-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#about p {
  font-size: 1.8rem;
  line-height: 1.625;
  -webkit-animation: slideUpTitle 0.7s ease-in-out 0.15s;
          animation: slideUpTitle 0.7s ease-in-out 0.15s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
