#about {
    animation: contentOpacity 1s 1 ease-in-out;
    max-width: 1200px;

    h2 {
        color: black;
        font-size: 8rem;
        padding: 2rem 0 4rem;
        font-weight: inherit;
        font-family: 'Gilda Display', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
        text-align: left;
        animation: slideUpTitle 0.7s ease-out;
        animation-fill-mode: both;
    }
    p {
        font-size: 1.8rem;
        line-height: 1.625;
        animation: slideUpTitle 0.7s ease-in-out 0.15s;
        animation-fill-mode: both;
    }
}
