@keyframes contentOpacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes animationTrash {
    from {
        transform: rotate(0deg);
        transform-origin: top;
    }
    25% {
        transform: rotate(20deg);
        transform-origin: top;
    }
    85% {
        transform: rotate(-20deg);
        transform-origin: top;
    }
    to {
        transform: rotate(0deg);
        transform-origin: top;
    }
}

@keyframes deleteItemAnimation {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    to {
        opacity: 0;
    }
}

@keyframes addPhoto {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }

    to {
        transform: scale(1);
    }
}

@keyframes slideUpTitle {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes showItem {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}
