.lists-user {
    margin: 0 auto;
    max-width: 1160px;
    animation: contentOpacity 1s ease-in-out;
    animation-fill-mode: both;

    h2 {
        color: black;
        font-size: 8rem;
        padding: 2rem 0 4rem;
        font-weight: inherit;
        font-family: 'Gilda Display', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
        text-align: left;
        overflow: hidden;
        display: block;
        animation: slideUpTitle 1s ease-in-out;
        animation-fill-mode: both;
    }

    .lists {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        animation: slideUpTitle 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
        animation-fill-mode: both;
    }

    .item {
        display: flex;
        flex-direction: column;
        color: #00376b;
        background-color: white;
        list-style: none;
        width: 350px;
        height: 450px;
        box-sizing: border-box;
        overflow: hidden;
        font-size: 24px;
        max-width: 90%;
        margin: 0 35px 35px 0;
        border-radius: 2px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        transition: 0.2s ease-in-out;

        &.removeItem {
            animation: deleteItemAnimation 0.8s;
        }

        &:hover {
            box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px,
                rgba(17, 17, 26, 0.1) 0px 16px 56px;
        }

        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            &.text-card {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .header-card {
                    flex-direction: column;
                    justify-content: center;
                    flex-grow: 1;
                    max-height: 100px;
                    font-size: 1.7rem;
                    white-space: nowrap;
                    line-height: 4rem;
                    padding: 0 20px;
                    text-overflow: ellipsis;
                    text-transform: uppercase;
                    max-width: 100%;
                    box-sizing: border-box;
                    overflow: hidden;
                }
            }
        }

        .img-user-block {
            justify-content: center;
            align-self: center;
            height: 70%;
            width: 100%;
            transition: 0.3s ease-in-out;
        }
    }
}

.btn-user-edit,
.btn-user-delete,
.btn-user-photo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    cursor: pointer;
    border-radius: 40px;
    width: 45px;
    height: 45px;
    background-color: #202020;
    transition: 0.2s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);

    .material-icons {
        color: rgba(255, 255, 255, 1);
        font-size: 18px;
        pointer-events: none;
    }

    & i {
        color: whitesmoke;
        text-align: center;
        pointer-events: none;
        font-size: 18px;
        transition: 0.5s ease-in-out;
    }

    &:active {
        background-color: #1a1a1a36;

        &i {
            color: black;
            transition: 0.5s;
        }
    }

    &:hover {
        transform: scale(1.1);
    }
}

.btn-user-edit:hover i {
    transform: rotate(60deg);
}

.btn-user-delete:hover i {
    animation: animationTrash 0.5s 2 ease-in-out;
}
