.lists-user {
  margin: 0 auto;
  max-width: 1160px;
  -webkit-animation: contentOpacity 1s ease-in-out;
          animation: contentOpacity 1s ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.lists-user h2 {
  color: black;
  font-size: 8rem;
  padding: 2rem 0 4rem;
  font-weight: inherit;
  font-family: 'Gilda Display', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  text-align: left;
  overflow: hidden;
  display: block;
  -webkit-animation: slideUpTitle 1s ease-in-out;
          animation: slideUpTitle 1s ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.lists-user .lists {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-animation: slideUpTitle 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
          animation: slideUpTitle 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.lists-user .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #00376b;
  background-color: white;
  list-style: none;
  width: 350px;
  height: 450px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  font-size: 24px;
  max-width: 90%;
  margin: 0 35px 35px 0;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.lists-user .item.removeItem {
  -webkit-animation: deleteItemAnimation 0.8s;
          animation: deleteItemAnimation 0.8s;
}

.lists-user .item:hover {
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.lists-user .item div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lists-user .item div.text-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lists-user .item div.text-card .header-card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-height: 100px;
  font-size: 1.7rem;
  white-space: nowrap;
  line-height: 4rem;
  padding: 0 20px;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  text-transform: uppercase;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.lists-user .item .img-user-block {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  height: 70%;
  width: 100%;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.btn-user-edit,
.btn-user-delete,
.btn-user-photo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 20px;
  cursor: pointer;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  width: 45px;
  height: 45px;
  background-color: #202020;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.btn-user-edit .material-icons,
.btn-user-delete .material-icons,
.btn-user-photo .material-icons {
  color: white;
  font-size: 18px;
  pointer-events: none;
}

.btn-user-edit i,
.btn-user-delete i,
.btn-user-photo i {
  color: whitesmoke;
  text-align: center;
  pointer-events: none;
  font-size: 18px;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.btn-user-edit:active,
.btn-user-delete:active,
.btn-user-photo:active {
  background-color: #1a1a1a36;
}

.btn-user-edit:activei,
.btn-user-delete:activei,
.btn-user-photo:activei {
  color: black;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.btn-user-edit:hover,
.btn-user-delete:hover,
.btn-user-photo:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-user-edit:hover i {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}

.btn-user-delete:hover i {
  -webkit-animation: animationTrash 0.5s 2 ease-in-out;
          animation: animationTrash 0.5s 2 ease-in-out;
}
