<div id="about">
    <h2>About Us</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In ipsa debitis delectus nisi voluptates voluptatum
        voluptate ipsam, fugit totam possimus earum atque at vel ut, minus veniam, facilis officia laboriosam. Lorem
        ipsum, dolor sit amet consectetur adipisicing elit. Inventore nemo voluptatibus odit, quas molestiae qui. Minus,
        minima id soluta nulla velit et pariatur eius voluptas assumenda eos tempora rem ullam?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil provident aliquam, optio dicta, sequi officia aut
        voluptates autem eos ut sapiente suscipit necessitatibus doloremque. Sunt, voluptas? Facere sapiente rem Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Numquam eveniet obcaecati dolor maiores doloremque sunt
        tempora, modi velit itaque, consequatur assumenda minus nihil aperiam totam suscipit sequi excepturi nisi
        nostrum.
    </p>
</div>
