<div id="contact">
    <h2 class="contact">Contacts</h2>
    <div>
        <h3>Minsk</h3>
        <address>
            <p>Minsk, Chapaeva street, 5</p>
            <a href="tel:+375173966161">+375 17 396 61 61</a>
            <a href="mailto:job@issoft.by">job@issoft.by</a>
        </address>
    </div>

    <div>
        <h3>Gomel</h3>
        <address>
            <p>Gomel, International street, 13</p>
            <a href="tel:+375173966161">+375 17 396 61 61</a>
            <a href="mailto:job@issoft.by">job@issoft.by</a>
        </address>
    </div>
</div>
