<form id="form-edit" action="#" name="edit" enctype="multipart/form-data">
    <h2>Edit user</h2>

    <div class="wrap">
        <div>
            <div class="form-item">
                <input
                    id="edit-name"
                    type="text"
                    name="name"
                    class="form-input"
                    autocomplete="off"
                    data-validators="requiered, min-length(3), max-length(20)"
                    required
                />

                <div class="form-group--error-container">
                    <span class="error-message error-message--requiered"
                        >Name is requiered</span
                    >
                    <span class="error-message error-message--min-length"
                        >Name should be at least 3 characters</span
                    >
                    <span class="error-message error-message--max-length"
                        >Name should be less then 20 characters</span
                    >
                </div>
                <label for="edit-name">New name:</label>
            </div>

            <div class="form-item">
                <input
                    id="edit-email"
                    type="email"
                    name="login"
                    class="form-input"
                    autocomplete="off"
                    data-validators="requiered, email(@), point(.)"
                    required
                />

                <div class="form-group--error-container">
                    <span class="error-message error-message--requiered"
                        >Email is requiered</span
                    >
                    <span class="error-message error-message--email"
                        >There is no "@" in the email address</span
                    >
                    <span class="error-message error-message--point"
                        >There is no "." in the email address</span
                    >
                    <span class="error-message error-message--mail-match"
                        >Mail name is taken</span
                    >
                </div>
                <label for="edit-email">New email:</label>
            </div>

            <div class="form-item">
                <input
                    id="edit-password"
                    type="password"
                    name="password"
                    class="form-input"
                    autocomplete="off"
                    data-validators="requiered, min-length(3), max-length(20)"
                    required
                />
                <div class="form-group--error-container">
                    <span class="error-message error-message--requiered"
                        >Password is requiered</span
                    >
                    <span class="error-message error-message--min-length"
                        >Password should be at least 3 characters</span
                    >
                    <span class="error-message error-message--max-length"
                        >Password should be less then 20 characters</span
                    >
                </div>
                <label for="edit-password">New password (0-9, A-z):</label>
            </div>

            <div class="form-item">
                <span>Your gender: </span>
                <div class="options">
                    <div class="options-item">
                        <input
                            type="radio"
                            name="sex"
                            id="man"
                            value="man"
                            class="options-input"
                            checked
                        />

                        <label for="man" class="options-label">Man</label>
                    </div>
                    <div class="options-item">
                        <input
                            type="radio"
                            name="sex"
                            id="woman"
                            value="woman"
                            class="options-input"
                        />
                        <label for="woman" class="options-label">Woman</label>
                    </div>
                </div>
            </div>

            <div class="form-item">
                <label for="bdate">Date of Birth:</label>
                <input
                    class="bdate"
                    type="date"
                    id="bdate"
                    name="date"
                    min="1940-01-01"
                    data-validators="requiered"
                />
            </div>

            <div class="form-item">
                <label for="myCountry">Country of residence :</label>

                <select name="myCountry" class="myCountry">
                    <option value="Belarus" selected>Belarus</option>
                    <option value="Russia">Russia</option>
                    <option value="Ukraine">Ukraine</option>
                    <option value="USA">USA</option>
                    <option value="UK">UK</option>
                    <option value="Poland">Poland</option>
                    <option value="latvia">latvia</option>
                    <option value="Litva">Litva</option>
                    <option value="Other">Other</option>
                </select>
            </div>
        </div>

        <div>
            <div class="form-item">
                <label class="photo-file" for="photo">
                    <input type="file" name="photo" id="photo" accept=".jpg, .jpeg, .png"
                /></label>
            </div>

            <div class="form-item">
                <label for="fcolor">Favorite color:</label>
                <input type="color" id="fcolor" name="color" value="#f6b73c" />
            </div>

            <div class="form-item">
                <label for="likes">Like the app? </label>
                <input
                    type="range"
                    name="likes"
                    id="likes"
                    min="0"
                    max="10"
                    value="9"
                    step="0.1"
                />
            </div>

            <div class="form-item">
                <label for="phone">Phone number (XXX-XXX-XXXX):</label>
                <input
                    type="tel"
                    id="phone"
                    name="phone"
                    pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                    autocomplete="off"
                />
            </div>

            <div class="form-item">
                <label for="formAgreement">
                    <input
                        type="checkbox"
                        class="checkbox-input"
                        name="agreement"
                        id="formAgreement"
                        data-validators="checked"
                    /><span>
                        I give my consent to the processing of my personal data
                    </span>
                </label>
            </div>
        </div>
    </div>

    <div class="form-item">
        <input type="submit" name="save" value="Save" class="btn btn-save" />
    </div>
</form>
