<div id="user-photos">
    <div class="control">
        <h2>
            Your <br />
            photos
        </h2>

        <form id="form-add-photo" action="#" name="add-photo">
            <input type="file" name="photo" id="photo" accept=".jpg, .jpeg, .png" />
            <label class="btn photo-file visible" for="photo">Add photo</label>
        </form>
    </div>

    <ul class="lists"></ul>
</div>
